%h1 About Us
%p
Clifton lawn services has been building and maintaining commercial and residential 

landscapes in Charleston SC and surrounding areas since 1990. Founded by Gordon 

Clifton a well-respected lawn care maintenance and designer around the low country 

area. 
%p

With a dedicated staff knowledgeable in irrigation, lawn care, sod, mulching, flowering 

bedding, including all landscaping/lawn maintenance, and horticulture, these skills and 

dedication to each project unfolds to a masterpiece, regardless of the size or condition. 

Clifton’s lawn service specializes in lawn care maintenance to set the tone for the 

garden’s and lawns transformation. From flowers and bushes that dazzle to different 

types of bedding flowing with plant life, Clifton’s lawn service will make your vision 

blossom and increase the value of your property.