.row
  .large-9.columns
    %h3 Get in Touch!
    %p
      We'd love to hear from you. You can either reach out to us as a whole and one of our awesome team members will get back to you, or if you have a specific question reach out to one of our staff. We love getting email all day
    .section-container.tabs{"data-section" => ""}
      %section.section
        %h5.title Contact Our Company
        .content{"data-slug" => "panel1"}
          %form
            .row.collapse
              .large-2.columns
                %label.inline Your Name
              .large-10.columns
                %input#yourName{:placeholder => "John Doe", :type => "text"}
            .row.collapse
              .large-2.columns
                %label.inline Your Email
              .large-10.columns
                %input#yourEmail{:placeholder => "example@mail.com", :type => "text"}
            %label Questions or Comments?
            %textarea{:rows => "4"}
            %button.radius.button{:type => "submit"} Submit
      %section.section
        %h5.title Contact Specific Person
        .content{"data-slug" => "panel2"}
          %ul.large-block-grid-5
            %li
              %a{:href => "/cdn-cgi/l/email-protection#c9a4a8a589baacbbaca7a0bdb0e7abaae7bbacab"}
                %img{:src => "http://placehold.it/200x200&text=[person]"} Gordon Clifton
            %li
              %a{:href => "/cdn-cgi/l/email-protection#dba1b4be9ba8bea9beb5b2afa2f5b9b8f5a9beb9"}
                %img{:src => "http://placehold.it/200x200&text=[person]"} Joe Valesko
            %li
              %a{:href => "/cdn-cgi/l/email-protection#b1dbd0c8dfd4f1c2d4c3d4dfd8c5c89fd3d29fc3d4d3"}
                %img{:src => "http://placehold.it/200x200&text=[person]"} Tony Carter
  .large-3.columns
    %h5 Map
    %p
      %a{"data-reveal-id" => "mapModal", :href => ""}
        %img{:src => "http://placehold.it/400x280"}/
      %br/
      %a{"data-reveal-id" => "mapModal", :href => ""} View Map
    %p
      1780 Pierpont Ave. 
      %br/
      Charleston, SC 29412
%footer.row
  .large-12.columns
    %hr/
    .row
      .large-6.columns
        %p © Copyright go for iT
      .large-6.columns
        %ul.inline-list.right
          %li
            %a{:href => "#"} Link 1
          %li
            %a{:href => "#"} Link 2
          %li
            %a{:href => "#"} Link 3
          %li
            %a{:href => "#"} Link 4
#mapModal.reveal-modal
  %h4 Where We Are
  %p
    %img{:src => "http://placehold.it/800x600"}/
  %a.close-reveal-modal{:href => "#"} ×